.back-popup-added-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

.modal-justify-popup-added-item {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 300px;
    aspect-ratio: 2.5/1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFA00D;
}

.modal-screen-popup-added-item {
    width: 100%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.close-button-popup-added-item {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
}

.popup-added-item-text {
    color: white;
    font-size: 18px;
}