.popupCart {
    position: absolute;
    top: 100px;
    right: 0;
    width: 40%;
    aspect-ratio: 1.5/1;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.popupCart-block {
    width: 100%;
    height: 100%;
}

.popupCart-title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.popupCart-list {
    overflow-y: scroll;
    max-height: 60%;
    scrollbar-color: #e39600 #fff;
    padding: 0 20px;
}

.popupCart-total-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.popupCart-total {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.popupCart-clean-basket-button {
    border: none;
    background: #FFA00D;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.popupCart-order-button {
    position: absolute;
    color: white;
    background: #FFA00D;
    padding: 20px 0;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.popupCart-order-button.disable {
    background: #ffbf4c;
}

@media screen and (max-width: 2300px) {
    .popupCart-list {
        max-height: 50%;
    }
}

@media screen and (max-width: 1900px) {
    .popupCart-list {
        max-height: 50%;
    }

    .popupCart {
        width: 800px;
        aspect-ratio: 1.5/1;
    }
}

@media screen and (max-width: 1300px) {
    .popupCart {
        top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .popupCart {
        top: 80px;
    }

    .popupCart-list {
        max-height: 50%;
    }

    .popupCart {
        width: 500px;
        aspect-ratio: 1.5/1;
    }
}