.orderDetailsViewOrderItemComponent-container {
    height: 15vh;
    width: 100%;
    background-color: #e39600;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px 0 0 10px;
}

.orderDetailsViewOrderItemComponent-text-block {

}

.orderDetailsViewOrderItemComponent-text-block-title-block {
    display: block;
    height: 10px;
}

.orderDetailsViewOrderItemComponent-text-block-title-block-info {
    height: 70%;
    margin-top: 5px;
}

.orderDetailsViewOrderItemComponent-text-block-title {
    color: #fff;
    font-size: 1.45rem;
    font-weight: 600;
    padding: 0;
    margin: 5px 0;
    text-decoration: underline;
}

.orderDetailsViewOrderItemComponent-text-block-details {
    display: flex;
    gap: 50%;
}

.orderDetailsViewOrderItemComponent-text-block-details-block {

}

.orderDetailsViewOrderItemComponent-title {
    height: 5px;
    color: #eee;
    font-size: 1rem;
    font-weight: 600;
}

.orderDetailsViewOrderItemComponent-value {
    height: 5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

