.UserHeader-container {
    background-image: linear-gradient(to right, #FFFDEF, #FFA00D);
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.UserHeader-image-container {
    margin-left: 20px;
}

.UserHeader-image {
    height: 70px;
}

.UserHeader-navbar {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.UserHeader-navbar-button,
.UserHeader-navbar-button-cart {
    font-size: 20px;
    text-decoration: none;
    color: #76481c;
    font-weight: 600;
    transition: ease-in 0.2s;
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.UserHeader-navbar-button:hover,
.UserHeader-navbar-button-cart:hover {
    text-decoration: underline;
}

.UserHeader-navbar-responsive {
    display: none;
}

.UserHeader-navbar-cart {
    display: none;
    background: transparent;
    border: none;
}

.responsive-icons {
    display: none;
}

@media (max-width: 1300px) {
    .UserHeader-container {
        height: 80px;
    }

    .UserHeader-image {
        height: 60px;
    }
}

@media (max-width: 1100px) {
    .UserHeader-navbar-button,
    .UserHeader-navbar-button-cart {
        font-size: 17px;
    }
}

@media (max-width: 1000px) {
    .UserHeader-image {
        height: 50px;
    }
}

@media (max-width: 950px) {
    .responsive-icons {
        display: flex;
        gap: 10px;
    }

    .UserHeader-navbar-button-cart {
        display: none;
    }

    .UserHeader-navbar {
        display: none;
    }

    .UserHeader-navbar-cart {
        display: block;
    }

    .UserHeader-navbar-cart-image {
        height: 40px;
    }

    .UserHeader-navbar-responsive {
        display: block;
        border: none;
        background: transparent;
    }

    .UserHeader-navbar-response-image {
        height: 50px;
    }

    .UserHeader-navbar.show-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 80px;
        background: #FFA00D;
        padding: 15px 25px;
        width: auto;
        opacity: 0;
        animation: fadeIn 0.5s ease-in forwards;
        z-index: 10;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}