.menuView-block {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: center;
    padding: 20px;
}

.category-title {
    color: white;
    height: 10px;
}

.menuView-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 10px;
    border-top: white 1px solid;
}

.menu-padding {
    height: 230px;
}
